*{
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;  
}

$color00: white;
$coloro1: rgb(60,60,60);

$tablet: 900px;
$desktop: 1200px;

h1{
  color: $color00;
  font-family: monospace;
  font-size: clamp(1rem, 3vw, 3rem);
}