@use './resources/config' as C;
@use './resources/fonts' as F;

body{
   width: 100%;
   margin-top: 10px;
   font-family: F.$cuerpo;
   font-weight: 500;
   justify-content: center;
   padding: 10px;
   overflow: hidden;
   ::-webkit-scrollbar{
     display: none;
    }
  }
nav{
  //como es el nav, su forma//
  background-color: rgb(158, 9, 9);
  width: 100%;
  height: 10dvh;

  //como organiza sus hijos//
  display: flex;
  flex-direction: row;
  //ejeX
  justify-content: center;
  //ejeY
  align-items: center;

  column-gap: 2rem;
}

header{
 width: 100%;
 height: 90dvh;
 background-color: rgb(16, 88, 88);
 overflow-y: scroll;

 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 gap: 0.5rem;
 padding: 0.5rem;

 h1{
    flex-basis: 100%;
    width: 100%;
    font-family: F.$titulo;
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
   }

 .card{
   width: 100%;
   background-color: transparent;
   padding: 1rem;
   border-radius: 10px;
   box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.2);
   position: relative;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   row-gap: 1.5rem;
   @media only screen and (min-width: C.$tablet){
    width: 32%;
   }
   @media only screen and (min-width: C.$desktop){
    width:18%;
   }

   &:hover{
      a{
       opacity: 1;
       transform: scale(1);
       color:white;
      }
      p{
       opacity: 1;
       transition: 1s;
       color: white;
      }
      h2{
       transform: translateY(0.5rem) scale(1.2);
       transition: .5s;
       opacity: 1;
      }
      img{
        filter: brightness(.2);
        transition: .5s;
      }
    }

   h2{
    font-weight: 700;
    color: rgb(109, 30, 30);
    text-align: center;
    opacity: 1;
    transform: translateY(0) scale(1);
    z-index: 1;
    transition: .5s;
    position: relative;
    z-index: 1;
   }
   p{
    font-weight: 300;
    color: C.$color01;
    opacity: 0;
    transition: 1s;
    text-align: center; 
    position: relative;
    z-index: 1;
   }
   a{
    opacity: 0;
    transform: scale(.9);
    background-color: green;
    width: 100px;
    padding: 0.5rem;
    text-align: center;
    transition: opacity 1s, transform 1s;
    position: relative;
    z-index: 1;
   }
   img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    filter: brightness(1);
   }
  }


}

 
