@use './resources/config' as C;

body{
  width: 100%;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  padding: 10px;
  overflow: hidden;

}
nav{
  //como es el nav, su forma//
  background-color: red;
  width: 100%;
  height: 10dvh;

  //como organiza sus hijos//
  display: flex;
  flex-direction: row;
  //ejeX
  justify-content: center;
  //ejeY
  align-items: center;

  column-gap: 2rem;
}

header{
 width: 100%;
 height: 90dvh;
 background-color: aqua;
 overflow-y: scroll;

 display: flex;
 flex-direction: row;
 justify-content: center;
 flex-wrap: wrap;
 gap: 0.5rem;
 padding: 0.5rem;

 .card{
   width: 100%;
   background-color: white;
   padding: 1rem;
   border-radius: 10px;
   box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.2);
   position: relative;
   overflow: hidden;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   row-gap: 1.5rem;
   @media only screen and (min-width: C.$tablet){
    width: 32%;
   }
   @media only screen and (min-width: C.$desktop){
    width:18%;
   }

   &:hover{
      a{
       opacity: 1;
       transform: scale(1);
       transition: 1s;
       z-index: 1;
       color:white;
      }
      p{
       opacity: 1;
       transition: 1s;
       z-index: 1;
       color: white;
      }
      h2{
       transform: translateY(0.5rem) scale(1.2);
       transition: .5s;
       opacity: 1;
       z-index: 1;  
      }
      img{
        filter: brightness(.5);
        transition: .5s;
        z-index: 0;
      }
    }

   h2{
    color: red;
    text-align: center;
    opacity: 1 ;
    transform: translateY(0) scale(1);
    z-index: 1;
   }
   p{
    color: C.$coloro1;
    opacity: 0;
    transition: 1s;
    text-align: center; 
   }
   a{
    opacity: 0;
    transform: scale(.9);
    background-color: green;
    width: 100px;
    padding: 0.5rem;
    text-align: center;
   }
   img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    filter: brightness(1);
   }
  }


}

 
