@use './resources/config' as C;

body{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  padding: 10px;

}
nav{
  //como es el nav, su forma//
  background-color: red;
  width: 100%;
  height: 10dvh;

  //como organiza sus hijos//
  display: flex;
  flex-direction: row;
  //ejeX
  justify-content: center;
  //ejeY
  align-items: center;

  column-gap: 2rem;
}

header{
 width: 100%;
 height: 90dvh;
 background-color: aqua;
 overflow-y: scroll;
 padding: 1.5rem;

 display: flex;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 0.5rem;

}

.card{
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  @media only screen and (min-width: C.$tablet){
    width: 32%;
  }
  @media only screen and (min-width: C.$desktop){
    width: 18%;
  }

  h2{
    font-size: clamp(1rem, 2vw, 2rem);
    color: red;
    margin-bottom: 10px;
  }
  p{
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    color: black;
    text-align: center;
  }
  a{
    padding: 1rem, 3rem;;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000px;
  }
}


 